/* start public style*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    /* width from fugma is 60px from each side*/
    width: calc(100% - 120px);
    margin: auto;
}